@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


@font-face {
  font-family: 'Conthrax';
  src: url('./../public/fonts/conthrax-sb.otf')
  format('opentype');
}
*{
  font-family: 'Conthrax', sans-serif;
  word-spacing: .2ch;
  letter-spacing: .1ch;
  z-index: 1;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
:root{
  --background-color: #000;
  --font-color-base: #fff;
  --font-color-second: #f99500;
  --font-family: 'Conthrax';
}
body{
  background-color: var(--background-color);
  color: var(--font-color-base);
}
.header-items>p{
  margin: 0 1.5rem;
  padding: 0 .5rem;
  font-size: small;
}
.header-items>p>a:hover{
  text-decoration: underline;
  color: var(--font-color-second);
  transition-duration: 200ms;
}
h1,h2,h3,h4{
  font-size: x-large;
}
p,a,input{
  /***********************************************
  * font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  * font-family:Verdana, Geneva, Tahoma, sans-serif;
  * font-family: "Roboto", sans-serif;
  ************************************************/

  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  /* font-family: "Roboto"; */
  font-weight: 300;
  font-size: 1rem;
  letter-spacing: .06rem;
  word-spacing: .05;
}
.yellow{
  color: var(--font-color-second);
}
.historia{
  background: url("./../public/images/historia.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.historia-time{
  padding: 3vw;
}
.historia-text{
  font-size: 1.2rem;
}

.conquistas{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: .5rem 1.3rem;
}
.conquistas>h2{
  font-size: 14pt;
  line-height: normal;
}
.conquistas>p{
  font-weight: 100;
  font-size: 12pt;
}

.sec3{
 /*  transition-duration: 2s; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.lol{
  background-image: url("../public/images/lol.jpg");

}
.r6{
  background-image: url("../public/images/r6.jpg");
}
.rocket{
  background-image: url("../public/images/rocket3-edit2.jpg");
}
.csgo{
  background-image: url("../public/images/csgo.jpg");
}
.sec3,.image-change{
  transition-duration: 1s;
}
.image-change{
  height: 400px;
  width: 200px;
  border-radius: 12px;
}
.game-desc{
  text-shadow: 10px 0px 11px rgba(0, 0, 0, 0.5),
   0px 0px 25px rgba(0, 0, 0, 1),
   0px 0px 25px rgba(0, 0, 0, 1),
   0px 0px 25px rgba(0, 0, 0, 1),
   0px 0px 25px rgba(0, 0, 0, 0.5),
   0px 0px 25px rgba(0, 0, 0, 0.5),
   0px 0px 25px rgba(0, 0, 0, 0.5),
   0px 0px 25px rgba(0, 0, 0, 0.5);
}
.patrocinadores>.img{
  display: inline;
  margin: 0 .5rem;
}
.store-carousel-image{
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 600px;
}

form>input{
  padding: .5rem 1rem;
  margin: .3rem 0;
  border-radius: 12px;
  background-color: #000;
  color: #fff;
  border: .5px solid;
  font-size: 8pt;
}
::placeholder{
  font-size: 8pt;
}
form>button{
  margin: .3rem 0;
  padding: .5rem 3rem;
  background-color: var(--font-color-second);
  border-radius: 15px;
}
.btn{
  margin: 1rem 0;
  padding: .5rem 3rem;
  background-color: var(--font-color-second);
  border-radius: 10px;
  transition: 100ms ease;
}
.btn:hover{
  background-color: #cf7c00;
  color: #dbdbdb;
}

.prod-carrossel{
  animation: carrossel 25s linear infinite;
}
.contact-sec-form{
  background-image: url("/images/contact-background.jpg");
  background-position: center;
  background-size: cover;
}


@keyframes carrossel {
  0%{
    transform: translateX(0px);
  }
  100%{
    transform: translateX(-1210px);
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media(max-width: 1024px){
  h1,h2,h3,h4{
    font-size: large;
  }
  p{
    font-size: medium;
  }
}
@media(max-width: 720px){
  h1,h2,h3,h4{
    font-size: large;
  }
  p{
    font-size: small;
  }

}
@media(max-width: 480px){
  h1,h2,h3,h4{
    font-size: .9rem;
  }
  p{
    font-size: smaller;
  }
  .conquistas{
    padding: 0 1rem;
  }
  .conquistas>p{
    font-size: .6rem;
  }
  .conquistas>h2{
    font-size: 1.2rem;
    line-height: normal;
  }
  .store-carousel-image{
    height: 400px;
  }
  .header-items,.header-items>p{
    margin: 0;
    padding: 0;
  }
  .header-items>p{
    font-size: x-small;
    padding:.6rem .6rem;
  }
  .texto-jogo>h1{
    margin: 1.5rem auto;
    text-align: center;
    font-size: xx-large;
  }
  .texto-jogo>p{
    font-size: small;
  }
  .texto-jogo>button{
    padding: .6rem 1rem;
    font-size: smaller;
  }
}

@media(max-width: 400px){
  .historia-text{
    font-size: .8rem;
  }
  .footer-items p{
    font-size: .6rem;
    padding: .2rem 0;
  }
}

.slick-slide div {
  outline: none;
}










